<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="TestListAm" >
        <groups>
            <define name="hh1">
                <include name="hh1"/>
            </define>

            <run>
                <include name="hh1"/>
            </run>
        </groups>

        <classes>
            <class name="TestListAm.TestListAm"/>
        </classes>
    </test>
</suite>
